*{margin: 0;
padding: 0;
box-sizing: border-box;}
nav{width: 100%;
display: flex; justify-content: space-between;
padding: 0 20px;
}
.logo{width: 130px;
color: #42a7c3;
font-size: 30px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 500;
line-height: 50.40px;
word-wrap: break-word;}
.link{
font-size: 16px;
font-family: 'Times New Roman', Times, serif;
font-weight: 200;
line-height: 22.40px;
word-wrap: break-word;
display: flex;
gap: 80px;
align-items: flex-start;
justify-content: space-between;
padding-top: 15px;}
.link a{text-decoration: none;
color: #333;}
.link :hover{color: #42a7c3;
text-decoration:underline;
cursor: pointer;}
.base-button{width: 120px;
height: 30px;
padding: 20px 32px;
background-color: #FA8443;
border-radius: 8px;
justify-content: center;
align-items: center;
gap: 2px;
display: inline-flex;
margin-top: 15px;}
.signup{color: white;
font-size: 16px;
font-family: 'Times New Roman', Times, serif;
font-weight: 300;
line-height: 22.40px;
letter-spacing: 0.20px;
word-wrap: break-word;}
.base-button :hover{cursor: pointer;}

.stats{margin: 10px;}
.div h2{width: 703px;
    height: 208px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    display: inline-flex;
    font-size: 56px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    line-height: 69.72px;
    word-wrap: break-word;
    color: #333;
    margin-left: 10px;
    padding-left: 10px;}

.para{width: 533px;
color: #645d5d;
opacity: 0.80;
font-size: 12px;
font-family:Georgia, 'Times New Roman', Times, serif;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.32px;
word-wrap: break-word;
padding-left: 10px;}
.develop{width: 283px;
height: 40px;
opacity: 0.40px;
justify-content:space-between ;
gap: 24px;
display: inline-flex;}
.container{ width: 136px;
height: 40px;
position: relative;}
.rectangle1{width: 136px;
height: 40px;
background-color: #121212;
left: 0;
top: 0;
border-radius:4px ;
position: absolute;
border: 2px #D0D0D0 solid;
margin: 10px;}
.rectangle1 img{width: 24px;
height: 25.63px;
left: 10px;
top: 7px;
position: absolute;}
.rectangle1 span{left: 55px;
top: 4px;
position: absolute;
color: white;
font-size: 8px;
font-family: 'Times New Roman', Times, serif;
font-weight: 700;
line-height: 11.20px;
word-wrap:break-word;
padding-bottom: 5px;}
.rectangle1 h4{left: 41px;
top: 8px;
position: absolute;
color: white;
font-size: 16px;
font-family: 'Times New Roman', Times, serif;
font: 700px;
line-height: 22.40px;
word-wrap: break-word;
padding-top: 5px;} 

.rectangle2{width: 136px;
    height: 40px;
    background-color: #121212;
    left: 0;
    top: 0;
    border-radius:4px ;
    position: absolute;
    border: 2px #D0D0D0 solid;
    margin: 10px;
    flex: ;}
    .rectangle2 img{width: 24px;
    height: 25.63px;
    left: 10px;
    top: 7px;
    position: absolute;}
    .rectangle2 span{left: 55px;
    top: 4px;
    position: absolute;
    color: white;
    font-size: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    line-height: 11.20px;
    word-wrap:break-word;
    padding-bottom: 5px;}
    .rectangle2 h4{left: 41px;
    top: 8px;
    position: absolute;
    color: white;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font: 700px;
    line-height: 22.40px;
    word-wrap: break-word;
    padding-top: 5px;}
    























